a {
    text-decoration: none;
}
.main {
    margin: 1rem;
}
.voted {
    color: red;
}
input[type=text], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.btn-center {
    display: flex;
    justify-content: center;
}
button {
    align-self: center;
    background-color: #4CAF50;
    color: white;
    padding: 7px 10px;
    margin: 0.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
#options {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#options td, #options th {
    border: 1px solid #ddd;
    padding: 8px;
}
#options tr:nth-child(even) {
    background-color: #f2f2f2;
}
#options tr:hover {
    background-color: #ddd;
}
#options th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}
.custom-card {
    padding: 1rem;
    background: white;
    border: 1px solid #D3D3D3;
    border-radius: .25rem;
    overflow: hidden;
}
.text-center {
    text-align: center;
}