a {
    text-decoration: none;
}
.main {
    margin: 1rem;
}
.voted {
    color: red;
}
input[type=text], textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
   /* width: 100%;*/
    align-self: cen;
    background-color: #4CAF50;
    color: white;
    padding: 7px 10px;
    margin: 0.2rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}