{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main">
    
    <div id="cnsl"></div>
    
    <form method="post" id="question_form"
        hx-post="{% url 'voting:add_question' %}" hx-target="#question_form_partial" hx-swap="outerHTML"
        hx-select="#question_form_partial" hx-select-oob="#question_status" hx-swap-oob="true"
        >
        {% csrf_token %}
        <div id="question_form_partial">
        {{question_form.as_p}}
        </div>
        <div class="btn-center">
            <button type="submit">Create Question</button>
        </div>
    </form>
    <br />
    <div id="question_status"></div>
    <br />
    
    <form method="post" id="options_form"
        hx-post="{% url 'voting:add_option' %}" hx-target="#options_form_partial" hx-swap="outerHTML"
        hx-select="#options_form_partial" hx-select-oob="#option_status" hx-swap-oob="true"
        >
        {% csrf_token %}
        <div class="options_form_partial">
            {% include "voting/partials/options-form.html" %}
        </div>
        
        <button type="button" id="add_more_option_button">Add more option</button><br /><br />
        <div class="btn-center">
            <button type="submit">Create Options</button>
        </div>
    </form>
    <div id="option_status"></div>
    <br /> <br />
    
    <div class="btn-center">
        {% if user.is_authenticated %}
        <button>
            <a href="{% url 'users:user_polls' %}" class="link-no-color">My Polls</a>
        </button>
        {% else %}
        <button>
            <a href="{% url 'users:login' %}" class="link-no-color">Login</a>
        </button>
        <button>
            <a href="{% url 'users:signup' %}" class="link-no-color">Signup</a>
        </button>
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/voting/index.js' %}" defer></script>
{% endblock script %}
