{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main">
    
    <form method="post" id="question_form"
        hx-post="{% url 'voting:add_question' %}" hx-target="#question_form_partial" hx-swap="outerHTML"
        hx-select="#question_form_partial" hx-select-oob="#question_status" hx-swap-oob="true"
        >
        <div id="question_form_partial">
        {{question_form.as_p}}
        </div>
        <div class="btn-center">
            <button type="submit">Create Question</button>
        </div>
    </form>
    <br />
    <div id="question_status"></div>
    <br />
    
    {% include "voting/partials/options-form.html" %}
    <div id="option_status"></div>
    <br /> <br />
    
    <div class="btn-center">
        {% if user.is_authenticated %}
        <button>
            <a href="{% url 'users:user_polls' %}" class="link-no-color">My Polls</a>
        </button>
        {% else %}
        <button>
            <a href="#" class="link-no-color">Login</a>
        </button>
                <button>
            <a href="#" class="link-no-color">Signup</a>
        </button>
        {% endif %}
    </div>
</div>
{% endblock content %}
{% block script %}
<script>
    const questionForm = document.querySelector("#question_form");
    
    questionForm.addEventListener('htmx:beforeRequest', function(evt) {
        const questionStatus = document.querySelector("#question_status");
        questionStatus.innerHTML = "";
        const clearLoading = showLoading(questionStatus);
        questionForm.addEventListener('htmx:beforeSwap', function(evt) {
            clearLoading();
        });
    });
    
</script>
<!--
<script src="{% static 'js/voting/index.js' %}" defer></script>
-->{% endblock script %}
