{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="main">
    {% if poll %}
    <button id="click-to-copy" data-clipboard-text="{{ request.build_absolute_uri }}">Copy link</button>
    <span id="failed-to-copy"></span>
    <div class="custom-card poll">
        <h3 class="text-center question">{{poll.question}}</h3>
        <div id="vote_status">
        {% if poll.is_open %}
            Click to vote
        {% else %}
            Poll is closed. Here are the Results: 
        {% endif %}
        </div>
        <div id="poll_details">
            {% include 'voting/partials/vote-partial.html' %}
        </div>
    </div>
    {% else %}
    <div>
        Poll not found.
    </div>
    {% endif %}
</div>
{% endblock content %}
{% block script %}
<script src="{% static 'js/clipboard.js' %}"></script>
<script src="{% static 'js/voting/vote.js' %}"></script>
{% endblock script %}