{% extends "base.html" %}
{% load static %}
{% load social_share %}
{% block title %}{{poll.question}} - {% endblock title %}
{% block content %}
<main class="centered-element">
    {% if poll %}
    <button id="click-to-copy" data-clipboard-text="{{ request.build_absolute_uri }}">Copy link</button>
    <span id="failed-to-copy"></span>
    <details>
        <summary>More share options</summary>
        <div class="ml dotted">
            {% post_to_facebook object_or_url "Facebook" %}
            {% post_to_twitter "{{poll.question}} - Anonymous vote" object_or_url "Twitter" %}
            {% post_to_reddit "{{poll.question}} - Anonymous vote" object_or_url "Reddit" %}
            {% post_to_whatsapp object_or_url "WhatsApp" %}
            {% post_to_telegram "Share via email" object_or_url "Telegram" %}
            {% send_email "{{poll.question}} - Anonymous vote" "{{poll.question}} - Anonymous vote" object_or_url "Email" %}
        </div>    
    </details> 
    <div class="custom-card poll">
        <h3 class="text-center question">{{poll.question}}</h3>
        <div id="vote_status">
            {% if poll.is_open %}
                {% if prev_selected_option %}
                Voted. Click to change vote.
                {% else %}
                Click to vote
                {% endif %}
            {% else %}
            Poll is closed. Here are the Results:
            {% endif %}
        </div>
        <div id="poll_details">
            {% include 'voting/partials/vote-partial.html' %}
        </div>
    </div>
    {% else %}
    <div>
        Poll not found.
    </div>
    {% endif %}

    {% if not poll.is_open %}
        <canvas id="dougnnutChart"></canvas>
    {% endif %}

</main>

{% endblock content %}
{% block script %}
<script src="{% static 'js/clipboard.js' %}"></script>
<script src="{% static 'js/voting/vote.js' %}"></script>

{% if not poll.is_open %}
{{ pollOptionsName|json_script:"pollOptionsName" }}
{{ pollOptionsVoteParcentage|json_script:"pollOptionsVoteParcentage" }}
<script src="{% static 'external-libraries/chart.js' %}"></script>
<script>
    const pollOptions = JSON.parse(document.getElementById('pollOptionsName').textContent);
    const pollOptionsVoteParcentage = JSON.parse(document.getElementById('pollOptionsVoteParcentage').textContent);
    
    const ctx = document.getElementById('dougnnutChart');

    const data = {
        labels: pollOptions,
        datasets: [{
            label: 'Vote parcentage',
            data: pollOptionsVoteParcentage,
            hoverOffset: 4
        }]
    };

    new Chart(ctx, {
    type: 'doughnut',
    data: data,
    options: {
        scales: {
        y: {
            beginAtZero: true
        }
        }
    }
    });
</script>
{% endif %}

{% endblock script %}