{% extends "base.html" %}
{% load static %}
{% block content %}
<main class="centered-element">

    <form method="post" id="login_form"
        hx-post="{% url 'users:login' %}" hx-target="#login_status" hx-swap="innerHTML"
        >
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" />
        <label for="password">Password:</label>
        <input type="password" name="password" />
        <div id="login_status"></div>
        <div class="btn-center">
            <button type="submit">Login</button>
        </div>
    </form>
</main>
{% endblock content %}
{% block script %}
<script src="{% static 'js/voting/index.js' %}" defer></script>
{% endblock script %}