{% extends "base.html" %}
{% load static %}

{% block content %}
<main class="centered-element">
    Total polls created: {{polls.count}}<br />
    Open polls: {{open_polls}}<br />
    Closed polls: {{closed_polls}}<br /><br />
    <div class="btn-center">
        <button>
            <a href="{% url 'voting:index' %}" class="link-no-color">Create new poll</a>
        </button>
        <button>
            <a href="{% url 'users:logout' %}" class="link-no-color">Log out</a>
        </button>
    </div>
    <br />
    <table>
        <tr>
            <th>Poll name</th>
            <th>Total votes</th>
            <th>Status/Action</th>
        </tr>
        {% for poll in polls %}
        <tr>
            <td class="text-center">
                <a href="{% url 'voting:vote' poll.secondary_id %}">{{poll.question}}</a>
            </td>
            <td class="text-center">
                {{poll.total_voters}}
            </td>
            <td class="text-center" id="close-poll-status">
                {% if poll.is_open %}
                <button onclick="closePoll(this, `{% url 'users:close_poll' poll.secondary_id %}`)">Close poll</button>
                {% else %}
                Closed
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
</main>
{% endblock content %}
{% block script %}
<script src="{% static 'js/users/userpolls.js' %}"></script>
{% endblock script %}