{% load static %}
<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous Votes</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    {% block head %}{% endblock head %}
</head>
<body>
    {% csrf_token %}
    {% block content %}{% endblock %}
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js" defer></script>
    <script>
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    </script>
    {% block script %}{% endblock script %}
</body>
</html>