<form id="options_form_container">
    {{optionformset.management_form}}
    {% for optionform in optionformset %}
    <div class="option_form">
        {% for hidden in optionform.hidden_fields %}
        {{hidden}}
        {% endfor %}
        {{ optionform.non_field_errors }}
        <label for="{{optionform.text.id_for_label}}">Option {{forloop.counter}}:</label>
        {{optionform.text}}
        {{optionform.text.errors}}
    </div>
    {% endfor %}
    <button type="button" id="add_more_option_button">Add more option</button><br /><br />
    <div class="btn-center">
        <button type="submit">Create Options</button>
    </div>
</form>