<div id="options_form_partial">
    {{option_formset.management_form}}
    {% for optionform in option_formset %}
    <div class="option_form">
        {% for hidden in optionform.hidden_fields %}
        {{hidden}}
        {% endfor %}
        {{ optionform.non_field_errors }}
        <label for="{{optionform.text.id_for_label}}">Option {{forloop.counter}}:</label>
        {{optionform.text}}
        {{optionform.text.errors}}
    </div>
    {% endfor %}
</div>
<div id="option_status">{{option_status}}</div>