<div class="answers">
    {% for option in poll.options.all %}
    <div class="answer {% if prev_selected_option == option %}selected{% endif %}" onclick="vote(event, '{{option.secondary_id}}')">
        {{option.text}}
        <span class="percentage_bar" style="width:{{option.vote_percentage|floatformat:'0'}}%;"></span>
        <span class="percentage_value">{{option.vote_percentage|floatformat:'0'}}%</span>
    </div>
    {% endfor %}
    <p class="text-center">Total votes:{{poll.total_voters}}</p>
</div>